.snack-bg{
    background-color: $principal_green;
    color:  #eee;
    font-size: 20px;
}


////Table 
.dot-green{
    height: 20px;
    width: 20px;
    background-color: $principal_green;
    border-radius: 50%;
    display: inline-block;
}
.dot-gray{
    height: 20px;
    width: 20px;
    background-color: $principal_gray;
    border-radius: 50%;
    display: inline-block;
}