<div [ngSwitch]="TipoMenu">
    <div *ngSwitchCase="'Proyecto'">
        <button mat-button [matMenuTriggerFor]="menu">
            <mat-icon>more_vert</mat-icon>
          </button>
          <mat-menu #menu="matMenu">
            <app-proyectos-table-option
            (RegistroModificado)="OnRegistroModificado($event)"
            (RegistroEliminado)="OnRegistroEliminado($event)"
            [ProyectoId]="ProyectoId"
            [Status]="Status">
          </app-proyectos-table-option>
          </mat-menu>
    </div>
    <div *ngSwitchCase="'Responsable'">
      <button mat-button [matMenuTriggerFor]="menu">
          <mat-icon>more_vert</mat-icon>
        </button>
        <mat-menu #menu="matMenu">
          <button mat-menu-item>Eliminar Responsable</button>
          <button mat-menu-item>Ver Proyectos Responsable</button>
        </mat-menu>
  </div>
    <div *ngSwitchDefault>
      <button mat-button [matMenuTriggerFor]="menu">
        <mat-icon>more_vert</mat-icon>
      </button>
      <mat-menu #menu="matMenu">
      </mat-menu>
    </div>
</div>