<div class="row d-flex justify-content-evenly page-wrapper ">
    <div class="row principal-wrapper col-5 ">
        <div class="wrapper-header">
            <h2>Listado de Responsables</h2>
        </div>
        <div *ngIf="RespuestaPaginacionAPI.contenidoPagina">
        <app-table 
        [Data]="RespuestaPaginacionAPI.contenidoPagina" 
        [displayedColumns]="Columnas"
        [totalPaginas]="RespuestaPaginacionAPI.totalPaginas"
        [TotalRegistros]="RespuestaPaginacionAPI.totalRegistros"
        (EmitirCambioPagina)="OnCambiodePagina($event)"
        ></app-table>
        </div>
    </div>

    <div class="row principal-wrapper col-5 ">
        <div class="wrapper-header">
            <h2>Crear Responsable</h2>
        </div>
        <form (ngSubmit)="onSubmit()" [formGroup]="" class="row  g-0 justify-content-between ">
            <mat-form-field appearance="standard" class="col-12">
                <mat-label>Nombre</mat-label>
                <input matInput placeholder="Placeholder">
              </mat-form-field> 
    
              <mat-form-field appearance="standard" class="col-7">
                <mat-label>Correo</mat-label>
                <input matInput placeholder="Placeholder">
              </mat-form-field> 
    
              <mat-form-field appearance="standard" class="col-4">
                <mat-label>Telefono</mat-label>
                <input matInput placeholder="Placeholder">
              </mat-form-field> 
              <button class="menu-danger-button menu-button">
                  Guardar
              </button>
        </form>
    </div>
</div>