<div class="row d-flex justify-content-evenly page-wrapper ">
    <div class="row col-7 " >
        <div class=" principal-wrapper pw-mh-450 pw-minh-450" >
            <!-- Header N Search -->
            <app-wrapper-header 
            [texto]="'Listado de Responsables'"
            [CamposParaFiltrar]="CamposMultiFiltro"
            (EmitirBusqueda)="onBuscar($event)">
           </app-wrapper-header>

           <!-- Tabla -->
            <div *ngIf="Spinner == false">
                <div *ngIf="RespuestaPaginacionAPI.contenidoPagina">
                    <app-table 
                    [TipoTablaOpciones]="'Responsable'"
                    [Data]="RespuestaPaginacionAPI.contenidoPagina" 
                    [displayedColumns]="Columnas"
                    [PageIndex]="BuscarPagina.pagina"
                    [totalPaginas]="TotalPaginas"
                    [TotalRegistros]="TotalRegistros"
                    (EmitirCambioPagina)="OnCambiodePagina($event)"
                    ></app-table>
             </div>
            </div>
            <div *ngIf="Spinner==true">
                <mat-spinner></mat-spinner>
            </div>
        </div>
    </div>

    <div class="row principal-wrapper col-4 pw-mh-250">
        <app-wrapper-header [texto]="'Crear Responsable'"></app-wrapper-header>
        <form (ngSubmit)="OnCrear()" [formGroup]="ResponsableForm" class="row g-0 justify-content-between">
            <mat-form-field appearance="standard" class="col-12" >
                <mat-label>Nombre</mat-label>
                <input matInput placeholder="Nombre" formControlName="nombre">
              </mat-form-field> 
    
              <mat-form-field appearance="standard" class="col-7" >
                <mat-label>Correo</mat-label>
                <input matInput placeholder="Correo" formControlName="correo">
              </mat-form-field> 
    
              <mat-form-field appearance="standard" class="col-4">
                <mat-label>Telefono</mat-label>
                <input matInput placeholder="Placeholder"  formControlName="telefono">
              </mat-form-field> 
              <button class="menu-danger-button menu-button">
                  Guardar
              </button>
        </form>
    </div>
</div>