<ng-container *ngIf="Data.length>0; else elseTemplate">
  <table mat-table [dataSource]="Data" class="mat-elevation-z0 col-12">
    <div *ngFor="let column of rowName; let i=index">
    <ng-container [matColumnDef]="column">
        <th mat-header-cell *matHeaderCellDef> {{header[i]}} </th>
        <!-- Es texto -->
        <div *ngIf="rowType[i]=='string'">
          <td mat-cell *matCellDef="let element"> {{element[column]}} </td>
        </div>
        <!-- Es Date --> 
        <div *ngIf="rowType[i]=='date'">
          <td mat-cell *matCellDef="let element"> {{element[column] | date}} </td>
        </div>
        <!-- Es Boolean --> 
        <div *ngIf="rowType[i]=='bool'">
          <td mat-cell *matCellDef="let element" > 
            <span [ngClass]="{'dot-green': element[column],'dot-gray': !element[column]}"></span>
           </td>
        </div>
          <!-- Opcion --> 
          <div *ngIf="rowType[i]=='option'">
            <td mat-cell *matCellDef="let element" > 
              <app-table-option-menu
              (DispararCambioEvent)="OnRecibirCambioTable($event)"
              [TipoMenu]="TipoTablaOpciones"
              ></app-table-option-menu>
             </td>
          </div>
      </ng-container>
    </div>
    <tr mat-header-row *matHeaderRowDef="rowName"></tr>
    <tr mat-row *matRowDef="let row; columns: rowName;"></tr>
  </table>
  
  <mat-paginator [hidePageSize]="true"
  (page)="OnCambioPagina($event)"
  [length]="totalPaginas"
  aria-label="Select page of users"></mat-paginator>
</ng-container>
<ng-template #elseTemplate>
  <div class="text-center text-white">No Data</div>
</ng-template>



